body {
	background: #FFF;
	color: #666;
	text-align: justify;
}

a {
	color: #FF0000;
}

a:hover {
	text-decoration: none;
}

h1 {
	color: #333;
	font-size: 40px;
	text-align: center;
	margin: 0 0 25px;
}

h2 {
	color: #333;
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 25px;
}

h3 {
	color: #333;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 25px;
	text-decoration: underline;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 10px 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

pre, xmp, code {
	font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	font-size: 12px;
	line-height: 18px;
	border: 1px solid #CCC;
	padding: 10px;
	margin: 10px 0;
	overflow: hidden;
	background: #F8F8F8;
	color: #333;
}

.container {
	width: 600px;
	margin: 0 auto;
	padding: 45px 0 0;
}

.buttons {
	width: 390px;
	height: 75px;
	margin: 0 auto;
}

.button {
	display: block;
	background: #007200;
	color: #FFF;
	text-decoration: none;
	width: 110px;
	text-align: center;
	padding: 10px;
	margin: 10px 0 0 15px;
	font-size: 18px;
	line-height: 29px;
}

.download {
	width: 200px;
}

.button:hover {
	background: #74A599;
}

.button:active {
	background: #F6A953;
}

p.social-share {
	text-align: center;
}
